<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">

            <h1>{{ store.getStoreName }}</h1>
            <a href="/store/{{store.getId}}/edit">Edit store name</a>


            {% if brands is not empty %}
                <h3>Here is a list of brands that this store carries:</h3>
                {% for brand in brands %}
                    <ul>
                        <li>{{ brand.getBrandName }}</li>
                    </ul>
                {% endfor %}
            {% endif %}

            <form action="/add_brand_to_store" method="post">
                <input id="store_id" name="store_id" type="hidden" value="{{ store.getId }}">

                <label for="brand_id">Select a Brand</label>
                <select id="brand_id" name="brand_id" type="text">
                    {% for brand in all_brands %}
                        <option value="{{ brand.getId }}">{{ brand.getBrandName }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-danger" type="submit">Add brand</button>
            </form>
            <br>
            <form action="/store/{{ store.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn btn-danger">Delete store</button>
            </form>
            <br>
            <a href="/">Home</a>
        </div>
    </body>
</html>
